.btn-brand {
  background-color: #111430 !important;
  color: #fff !important;
  border-color: transparent;
  font-family: 'Roboto', sans-serif;
}
.file-upload {
  input[type='file'] {
    display: none;
  }
}
.btn-success {
  background-color: #275a53 !important;
  border:none !important
}

.text-price {
    color: #275a53 !important;
}

.bg-footer {
    background-color: #275a53 !important;
}

.btn-outline-success {
  background-color: #deffed !important;
  border-color: #275a53 !important;
  &:hover {
    background-color: #275a53 !important;
  }
}
.client-form {
  .form-control {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
}
.error {
  color: salmon;
  margin-left: 10px;
}

.card {
	transition: all .2s ease-in-out;
	&:hover {
		transform: scale(1.04);
	}
}

